.rectangle {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;  
  border: 1px solid #000;  
  background: #f0f0f0;
  opacity: 0.8;
  color: red;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.dlgClose {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: transparent url(../img/close.png) no-repeat 0 0;
  cursor: pointer;
}